body {
    background-color:#13293D;
}

.container {
    width : 90% ;
    background-color:#2A628F;
    height : 100vh;
    margin: auto;
    margin-top : -20px;
}

.header {
    height: 150px;
    border : 2px solid black;
    text-align: center;
}

.header p {
    margin-top : -20px;
    font-size: 18px;
    margin-bottom: 3px;
}

.header h1 {
    font-size: 40px;
}

.main {
    height: 100vh;
    border : 2px solid black;
}